a:link {
    color: blue; 
    background-color: lightgray; 
}

a.villain:hover
{
    background-color: red;
    color: blue
}

h1
{
    color: white;
    font-family: arial;
    font-size: 22pt;
}

h2
{
    color: red;
}

body
{
    background-color: darkgray;
    background-image: url(background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

P
{background-color: darkgray;}
